extends layout

block content
  section(id="hero")
    div(class="container")
      h2 About Us
      p Our mission is to fight hunger in the Govan community, where we recognize the pressing need to address the challenges faced by a significant population of refugees. In Govan, a diverse community that is home to many refugees, we understand that hunger is not just a matter of food scarcity but is also intertwined with broader social issues. Our commitment extends beyond providing meals; we strive to create a supportive environment where everyone feels welcome and empowered.
      p We acknowledge that language barriers can pose additional challenges for individuals seeking assistance. Therefore, we prioritize breaking down language barriers by offering multilingual support services. Through dedicated language resources and interpreters, we ensure that language is not an obstacle preventing individuals from accessing the vital assistance they need.
      p At our food bank, we work in close collaboration with community organizations and volunteers to address the unique needs and circumstances of the Govan community. We provide not only nutritious meals but also educational programs that promote food literacy, healthy cooking, and budgeting skills. By empowering individuals with knowledge and resources, we aim to foster long-term food security and independence.
      p In addition to our direct support, we actively engage with the community, raising awareness about hunger-related issues and advocating for systemic change. Through partnerships and advocacy initiatives, we strive to create a more inclusive society where everyone has equal access to nutritious food and the opportunity to thrive.
      p Join us in our mission to fight hunger and build a stronger, more resilient Govan community. Together, we can make a meaningful difference and ensure that no one goes hungry or feels isolated in their struggle.


  section(id="hero")
    div(class="container")
      h2 Food Distribution
      p Food distribution in Govan is a significant concern, with many individuals and families facing challenges in accessing nutritious and affordable food. This issue is particularly prevalent among vulnerable groups such as refugees and low-income households. 
      p To address this, it is crucial to expand food assistance programs, collaborate with local organizations and government agencies, and establish initiatives like mobile food pantries and meal programs. 
      p Additionally, increasing community engagement through education and awareness campaigns, fostering partnerships with local businesses and farmers, addressing transportation barriers, advocating for policy change, promoting sustainable practices like community gardens, and supporting grassroots initiatives can help create a more equitable and sustainable food distribution system in Govan.


  section(id="hero")
    div(class="container")
      h2 Meal Programs
      p Meal programs in Govan are essential initiatives that provide nutritious meals to individuals and families facing food insecurity. 
      p These programs aim to ensure that everyone has access to regular and healthy food options. By offering meals, often in partnership with local organizations, volunteers, and businesses, these programs contribute to alleviating hunger and improving the overall well-being of the community.

  section(id="hero")
    div(class="container")
      h2 Food Drives
      p Food drives in Govan serve as vital collection events where community members can donate non-perishable food items to support those in need. These drives provide an opportunity for individuals, businesses, and organizations to come together and make a tangible difference in addressing food insecurity. 
      p The donated items are distributed to local food banks or directly to individuals and families who require immediate assistance.
