head
  link(rel='stylesheet', href='/stylesheets/styles1.css')
  title Food for Govan
  
body
  h1 Food for Govan
  header
    nav 
      ul
        li 
          a(href="home") Home 
        li
          a(href="stock") Stock
        li
          a(href="forum") Forum 
        li
          a(href="donate") Donate 
        li
          a(href="volunteer") Volunteer
        li 
          a(href="login") Login

block content
container(class="footerContainer")
  footer 
    p &copy; 2023 Food Bank. All rights reserved.
    p Designed by Group 63



