extends layout

block content
  section(id="hero")
    div(class="container")
      h2 Volunteer Opportunities
      p Volunteer opportunities in Govan present a chance for community members to actively engage in addressing food insecurity. By volunteering their time and skills, individuals can support various initiatives, such as food distribution, meal preparation, fundraising, advocacy, and educational programs. These opportunities not only make a direct impact on the lives of those experiencing food insecurity but also foster a sense of community and promote social responsibility.
      p These programs, drives, and volunteer opportunities are crucial in creating a more inclusive and supportive environment in Govan, where everyone has access to nutritious food and the opportunity to thrive.
